/* Created by Sameer Mohamed */

.home-content {
    padding: 20px;
    z-index: 1;
    font-size: 22px;
    color: #444;
    line-height: 1.5;
    margin-bottom: 30px;
}

.home-content p {
    text-align: left;
}


.button-container .join-button {
    background-color: #e10000;
    color: #ffffff;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.title {
    font-size: 2em;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.bg-image {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    display: flex;
    align-items: center;
}

.text-section {
    flex: 1;
    padding-right: 15px;
}

.bg-image2 {
    flex: 1;
    height: 390px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}